*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI' , sans-serif;
}

.card{
    width: 80%;
    -webkit-box-shadow: 7px 15px 26px 12px rgba(0,0,0,0.62);
-moz-box-shadow: 7px 15px 26px 12px rgba(0,0,0,0.62);
box-shadow: 7px 15px 26px 12px rgba(0,0,0,0.62);
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
}

.card__left, .card__right{
    border: 0px solid rgb(30, 30, 36);
}

.card__left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
}

.card__left > span {
    font-weight: 400;

}

.card__left > h1 {
    margin-top: 15px;
    font-size: 30px;

}

.card__left > p {
    color: gray;

}